<div class="card-container">
  <mat-card class="card">
    <div class="mat-card-conent">
      <img src="../../../assets/logo.jpg" class="logo" />
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="full-width">
          <mat-label>{{ "labels.email" | translate }}</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="this.loginForm.controls.email.hasError('required')">
            {{ "validation.field-required" | translate }}
          </mat-error>
          <mat-error *ngIf="this.loginForm.controls.email.hasError('email')">
            {{ "validation.bad-email" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ "labels.password" | translate }}</mat-label>
          <input
            matInput
            placeholder="password"
            required
            formControlName="password"
          />
          <mat-error
            *ngIf="this.loginForm.controls.password.hasError('required')"
          >
            {{ "validation.field-required" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            {{ "btn.login" | translate }}
          </button>
          <button (click)="register()" mat-raised-button color="accent">
            {{ "btn.register" | translate }}
          </button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>
